body{
    --slack-color: #3f0f40;
    overflow: hidden;
}
.app_body{
    display: flex;
    height: 80vh;
}
/* width */
::-webkit-scrollbar {
    width: 7px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgba(255,255,255,0.45); 
    border-radius: 10px;
  }