.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #421f44;
    color: gray;
    padding: 4px 0px;
}

.header__center {
    flex: 0.55;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__center > input {
    background: transparent;
    min-width: 35vm;
    outline: none;
    flex-grow: 1;
    border: 1px gray solid;
    border-radius: 6px;
    padding: 0 8px;
    box-shadow: inset 0 0 0 1px rgb(104, 74, 104);
    color: whitesmoke;
}

.header__center > .MuiSvgIcon-root {
    margin: 0px 15px;
}

.header__right {
    margin-right: 20px;
}